<div class='span8'>
	<h2>Update Lending</h2><hr/>
	
	<%= error_messages_for(@borrow)%>
<%= form_for(:borrow, :url=>{:action=>'update',:id=>params[:id]}, :html=>{:class=>'.form-horizontal'}) do |f|%>
	<fieldset>
	<%= f.label :receiver, 'To Whom :' %>
	<%= f.text_field(:receiver)%><br/>
	<%= f.label :amount, 'Amount :' %>
	<%= f.text_field(:amount,:placeholder=>"Enter only numbers, no units")%><br/>
	<%= f.label :interest, 'Interest:' %>
	<%= f.text_field(:interest,:value=>0,:placeholder=>"Enter only percentage")%><br/>
	<%= f.label :due_date, 'Due Date:' %>
	<%= f.date_select(:duedate,:order=>[:day,:month,:year],:include_blank=>true,:start_year=> Time.now.year)%><br/>
	<div class="form-actions">
	<%= submit_tag('Update This Borrowing',:class=>'btn btn-inverse')%>
	</div>
	</fieldset>
<% end %>
</div>