
<div class="span12">
	
<h2>Borrowings</h2>	<br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>	
		
		<th>Receiver</th>
		<th>Amount</th>
		<th>Interest</th>
		<th>Due Date</th>
		<th>Is Paid?</th>
		<th>Given At</th>
		<th>Lender</th>	
		<th>Actions</th>
		<th>Share</th>
		</tr>	
	</thead>
	<tbody>	
		<% @borrows.each do |borrow| %>
			<tr>
				<td>
					<%= borrow.receiver %>
				</td>
				<td>
					<%= borrow.amount %>
				</td>
				<td>
					<%= borrow.interest %>
				</td>
				<td>
					<%= borrow.duedate %>
				</td>
				<td>
					<%= borrow.paid %>
				</td>
				<td>
					<%= borrow.created_at %>
				</td>
				<td>
					<%= borrow.user_id%>
				</td>
				<td>
					<%= link_to "Edit",{:controller=>'borrows',:action=>'edit',:id=>borrow.id}%>&nbsp;|&nbsp;
					<%= link_to "Mark Paid",{:controller=>'borrows',:action=>'pay',:id=>borrow.id}%>&nbsp;|&nbsp;
					<%= link_to "Delete",{:controller=>'borrows',:action=>'delete',:id=>borrow.id}%>
				</td>
				<td>
					<% if !session[:provider]=="twitter"%>
					<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%=borrow.receiver%> needs to pay his debt to me by <%=borrow.duedate %>" data-count="none" data-lang="en" data-url="http://prestame.herokuapp.com" data-hashtags="Prestame,RailsArena">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					<%else%>
					<div id="fb-root"></div>
					      <script src="http://connect.facebook.net/en_US/all.js">
					      </script>
					      <script>
					      function shareonfb(){
					         FB.init({ 
					            appId:'353419201365425', cookie:true, 
					            status:true, xfbml:true 
					         });
					
					         FB.ui({ method: 'feed', 
					            message: '<%=borrow.receiver%> needs to pay his debt to me by <%=borrow.duedate %>'});
					        }
					      </script>
							<a href="javascript:shareonfb()" class="btn btn-primary">Share on FB</a>
					<%end%>
				</td>	
			</tr>
		<% end %>	
	
	</tbody>
</table>
<div class="form-actions">
<%= link_to "Lend Someone",{:controller=>'borrows',:action=>'new'},:class=>'btn btn-info'%>&nbsp;
<%= link_to "Active Lendings",{:controller=>'borrows',:action=>'active'},:class=>'btn btn-info'%>&nbsp;
<%= link_to "Completed Lendings",{:controller=>'borrows',:action=>'completed'},:class=>'btn btn-info'%>
	
</div>
</div>