<div class="span6">
	
<h2>Borrowings</h2>	<br/>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Statistics</th>
    </tr>
  </thead>
  <tbody>
  	<% if !@thisisforuser %>
    <tr>
      <td># of users</td>
      <td><%= @usercount %></td>
    </tr>
    <% end %>
    <tr>
      <td># of debts</td>
      <td><%= @debtcount %></td>
    </tr>
    <tr>
      <td>Average debt amount</td>
      <td><%= @debtavg %></td>
    </tr>
    <tr>
      <td>Average interest amount</td>
      <td><%= @intavg %></td>
    </tr>
    <tr>
      <td>Maximum debt</td>
      <td><%= @maxdebt %></td>
    </tr>
    <tr>
      <td>Maximum interest</td>
      <td><%= @maxint %></td>
    </tr>
    <tr>
      <td># of active debts</td>
      <td><%= @adebtcount %></td>
    </tr>
    <tr>
      <td># of completed debts</td>
      <td><%= @pdebtcount %></td>
    </tr>
    <tr>
      <td>Total of active debts</td>
      <td><%= @tadebtamount %></td>
    </tr>
    <tr>
      <td>Total of passive debts</td>
      <td><%= @tpdebtamount %></td>
    </tr>
    <tr>
      <td>Total amount processed</td>
      <td><%= @tdebtamount %></td>
    </tr>
  </tbody>
</table>

</div>