<!DOCTYPE html>
<html>
<head>
  <title>Prestamé</title>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <meta charset="utf-8">

  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery" %>
   <%= javascript_include_tag "bootstrap-transition.js" %>
    <%= javascript_include_tag "bootstrap-alert.js" %>
    <%= javascript_include_tag "bootstrap-modal.js" %>
    <%= javascript_include_tag "bootstrap-dropdown.js" %>
    <%= javascript_include_tag "bootstrap-scrollspy.js" %>
    <%= javascript_include_tag "bootstrap-tab.js" %>
    <%= javascript_include_tag "bootstrap-tooltip.js" %>
    <%= javascript_include_tag "bootstrap-popover.js" %>
    <%= javascript_include_tag "bootstrap-button.js" %>
    <%= javascript_include_tag "bootstrap-collapse.js" %>
    <%= javascript_include_tag "bootstrap-carousel.js" %>
    <%= javascript_include_tag "bootstrap-typeahead.js" %>
    <script type="text/javascript">
(function() {
    if (typeof window.janrain !== 'object') window.janrain = {};
    window.janrain.settings = {};
    
    janrain.settings.tokenUrl = 'http://prestame.herokuapp.com/authentications/';

    function isReady() { janrain.ready = true; };
    if (document.addEventListener) {
      document.addEventListener("DOMContentLoaded", isReady, false);
    } else {
      window.attachEvent('onload', isReady);
    }

    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.id = 'janrainAuthWidget';

    if (document.location.protocol === 'https:') {
      e.src = 'https://rpxnow.com/js/lib/prestame/engage.js';
    } else {
      e.src = 'http://widget-cdn.rpxnow.com/js/lib/prestame/engage.js';
    }

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(e, s);
})();
</script>

<script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  RPXNOW.init({appId: 'bnfbfddhjbocnhhfnhia',
    xdReceiver: '/rpx_xdcomm.html'});
</script>

</head>
<body>

 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--<a class="brand" href="#">Prestamé</a>-->
          <%= link_to "Prestamé",{:controller=>'home',:action=>'index'},{'class'=>'brand'}%>
          <div class="nav-collapse">
            <ul class="nav">
            	<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
              <li><%= link_to "Borrowings",{:controller=>'borrow',:action=>'index'}%></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar- pull-right">
            	<script type="text/javascript">
				function rpxSocial (){
				  RPXNOW.loadAndRun(['Social'], function () {
				    var activity = new RPXNOW.Social.Activity(
				       "Prestamé",
				       "commented on 'Like My New Perfume?' on cuteoverload.com",
				       "http://cuteoverload.com/2009/10/26/like-my-new-perfume/");
				    RPXNOW.Social.publishActivity(activity);
				  });
				}
				</script>
            	<a class="btn btn-primary" href="javascript:rpxSocial()">Share</a>
            	<% if @currentuser %>
            	<%= @currentuser[:profile] %>
            	<% else %>
            	<a class="btn btn-primary btn-danger" data-toggle="modal" href="#loginModal">Login</a>
            	<% end %>
            	
        	</p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">


<%= yield %>



      <hr>
		
      <footer>
        <p>&copy; Onur Baykal 2012</p>
      </footer>

    </div>


<div id="loginModal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Login via OAuth</h3>
            </div>
            <div class="modal-body">
              <div id="janrainEngageEmbed"></div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
            </div>
          </div>

</body>
</html>
