<!DOCTYPE html>
<html>
<head>
  <title>Prestamé</title>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <meta charset="utf-8">

  <%= csrf_meta_tags %>
  
    <script type="text/javascript">
(function() {
    if (typeof window.janrain !== 'object') window.janrain = {};
    window.janrain.settings = {};
    
    janrain.settings.tokenUrl = 'http://localhost:3000/authentications/';

    function isReady() { janrain.ready = true; };
    if (document.addEventListener) {
      document.addEventListener("DOMContentLoaded", isReady, false);
    } else {
      window.attachEvent('onload', isReady);
    }

    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.id = 'janrainAuthWidget';

    if (document.location.protocol === 'https:') {
      e.src = 'https://rpxnow.com/js/lib/prestame/engage.js';
    } else {
      e.src = 'http://widget-cdn.rpxnow.com/js/lib/prestame/engage.js';
    }

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(e, s);
})();
</script>

</head>
<body>

 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--<a class="brand" href="#">Prestamé</a>-->
          <%= link_to "Prestamé",{:controller=>'home',:action=>'index'},{'class'=>'brand'}%>
          <div class="nav-collapse">
            <ul class="nav">
            	<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Lend Someone",{:controller=>'borrows',:action=>'new'}%></li>
                      <li><%= link_to "Active Lendings",{:controller=>'borrows',:action=>'active'}%></li>
                      <li><%= link_to "Completed Lendings",{:controller=>'borrows',:action=>'completed'}%></a></li>
                      <li class="divider"></li>
                      <li><%= link_to "Show All Lendings",{:controller=>'borrows',:action=>'index'}%></li>
                    </ul>
                  </li>
              
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Edit Profile",{:controller=>'users',:action=>'edit'}%></li>
                      <li><%= link_to "Show Profile",{:controller=>'users',:action=>'show'}%></li>
                      <li class="divider"></li>
                      <li><%= link_to "Stats",{:controller=>'users',:action=>'stats'}%></li>
                    </ul>
              </li>
              <li><%= link_to "Prestamé Stats",{:controller=>'stats',:action=>'index'}%></li>
              <li><a data-toggle="modal" href="#aboutModal">About</a></li>
            </ul>
            
            	<% if session[:name] %>
            	<p class="navbar-text pull-right">
            	<%= session[:name] %>&nbsp;|&nbsp;<%= link_to "Log Out",{:controller=>'authentications',:action=>'logout'}%>
            	<% else %>
            	<p class="navbar- pull-right">
            	<a class="btn btn-primary btn-danger" data-toggle="modal" href="#loginModal"><i class="icon-user icon-white"></i> Login</a>
            	<% end %>
            	
        	</p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
    	<% if flash[:success] %>
    	<div class="alert alert-success">
		  <%= flash[:success] %>
		</div>
    	<% end %>
    	
    	
    	<% if flash[:notice] %>
    	<div class="alert alert-info">
		  <%= flash[:notice] %>
		</div>
    	<% end %>
    	
    	<% if flash[:error] %>
    	<div class="alert alert-error">
		  <%= flash[:error] %>
		</div>
    	<% end %>
    	
    	
	<div class="row-fluid">

<%= yield %>



</div>
      
	<div class='span3'>	
		<hr>
      <footer>
        <p>&copy; <a href="http://onurbaykal.com.tr">Onur Baykal</a>  2012</p>
      </footer>
	</div>
	
	
	
    </div>

<div id="aboutModal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>About Prestamé</h3>
            </div>
            <div class="modal-body">
              <p>Prestamé is developed by Onur Baykal for RailsArena contest.</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-warning" data-dismiss="modal">Close</a>
            </div>
          </div>

<div id="loginModal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Login via OAuth</h3>
            </div>
            <div class="modal-body">
              <a href=<%="auth/facebook"%>><%= image_tag "facebook_128.png"%></a>&nbsp;
              <a href=<%="auth/twitter"%>><%= image_tag "twitter_128.png"%></a>
 			<br/>Deployment:
              <a href=<%="#{Rails.root}/../auth/facebook"%>><%= image_tag "facebook_128.png"%></a>&nbsp;
              <a href=<%="#{Rails.root}/../auth/twitter"%>><%= image_tag "twitter_128.png"%></a>

            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
            </div>
          </div>
<%= javascript_include_tag "jquery" %>
   <%= javascript_include_tag "bootstrap-transition.js" %>
    <%= javascript_include_tag "bootstrap-alert.js" %>
    <%= javascript_include_tag "bootstrap-modal.js" %>
    <%= javascript_include_tag "bootstrap-dropdown.js" %>
    <%= javascript_include_tag "bootstrap-scrollspy.js" %>
    <%= javascript_include_tag "bootstrap-tab.js" %>
    <%= javascript_include_tag "bootstrap-tooltip.js" %>
    <%= javascript_include_tag "bootstrap-popover.js" %>
    <%= javascript_include_tag "bootstrap-button.js" %>
    <%= javascript_include_tag "bootstrap-collapse.js" %>
    <%= javascript_include_tag "bootstrap-carousel.js" %>
    <%= javascript_include_tag "bootstrap-typeahead.js" %>
</body>
</html>
